
<div class="Nd_right">
    <div class="Nd_right_top">
        <div class="Nd_right_bottom">
            <h2>HỖ TRỢ ONLINE</h2>
            <div style="text-align:center"> 
                 <div style="color:#999; font-style: italic; font-size:12px;">SP1</div>       
                <ul><li>&nbsp;</li></ul><br />
                <img src="/Content/Images/hotline.png"/>
            </div>
        </div>
    </div>
</div>
