
<div class="Nd_right">
    <div class="Nd_right_top">
        <div class="Nd_right_bottom">
                <h2>FACEBOOK</h2>
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/XStoreMobile-306972579821188?ref=hl;width=290&amp;height=270&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:290px; height:260px;" allowTransparency="true";></iframe>
        </div>
    </div>
</div>