
<div class="Nd_right">
    <div class="Nd_right_top">
        <div class="Nd_right_bottom">
            <h2>HỖ TRỢ ONLINE</h2>
            <div style="text-align:center">
                <div style="color:red; font-style: italic; font-size:18px;">Nguyễn Văn Thuận</div>
                <img src="/Content/Images/hotline.png" />
                <ul><li>&nbsp;</li></ul><br />
                <div style="color:red; font-style: italic; font-size:18px;">Lê Thanh Tân</div>
                <img src="/Content/Images/hotline1.png" />
                <ul><li>&nbsp;</li></ul><br />
                <div style="color:red; font-style: italic; font-size:18px;">Trần Minh Chiến</div>
                <img src="/Content/Images/hotline2.png" />
                <ul><li>&nbsp;</li></ul><br />
                <div style="color:red; font-style: italic; font-size:18px;">Trịnh Châu Tuấn Tú</div>
                <img src="/Content/Images/hotline3.png" />
                <ul><li>&nbsp;</li></ul><br />
                <div style="color:red; font-style: italic; font-size:18px;">Nguyễn Hữu Cường</div>
                <img src="/Content/Images/hotline4.png" />
                <ul><li>&nbsp;</li></ul><br />
                <div style="color:red; font-style: italic; font-size:18px;">Nguyễn Tấn Sang</div>
                <img src="/Content/Images/hotline5.png" />
                <ul><li>&nbsp;</li></ul><br />
            </div>
        </div>
    </div>
</div>
