@{
    ViewBag.Title = "Trang Quản Trị";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    a {
        color: #333;
    }
</style>

@*Cấu hình*@
<div class="title_ne">
    <img src="~/Content/Admin/Images/ico_st.png" />
    <span>Cấu hình</span>
</div>

<div class="Danhsach_menu" style="padding-left: 35px">


  
</div>

@*Ứng dụng tích hợp*@
<div class="title_ne">
    <img src="~/Content/Admin/Images/iconapps.png" />
    <span>Ứng dụng tích hợp</span>
</div>


   

  


 



</div>

@*Quản trị*@
<div class="title_ne">
    <img src="~/Content/Admin/Images/ico_PhanQuyen.png" />
    <span>Quản trị</span>
</div>

<div class="Danhsach_menu" style="padding-left: 35px">
 

    
</div>
